// Base layout styles

html,
body {
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &.is-unscrollable {
        overflow: hidden !important;
        height: 100% !important;
    }
}

// Sidebar styles
.sidebarblock {
    .social-links a {
        &:first-child {
            margin-left: 0;
        }

        svg {
            path {
                fill: $deepindigo;
            }

            &:hover {
                path { fill: lighten($deepindigo, 15%); }
            }
        }
    }
}
