// Override styles for squarespace annoucement bar

.sqs-announcement-bar-content {
    background-color: $secondary-color;

    .sqs-announcement-bar-text {
        margin-right: 2rem;
        padding: 1rem 1rem;

        p {
            color: $deepindigo;
            font-family: $font-family-sans-serif;
            line-height: 1.3;

            a {
                color: $deepindigo !important;
                font-weight: $font-weight-bold;
            }

            &:before {
                content: 'Alert';
                text-transform: uppercase;
                font-weight: bold;
                margin-right: 1em; 
            }
        }
    }

    .sqs-announcement-bar-close {
        height: 100%;
        display: flex;
        webkit-justify-content: middle;
        align-items: center;

        &:after {
            width: 100%;
        }
    }
}
