// Article Cards

.article-card {
    position: relative;
    margin-bottom: 3.25rem;
    overflow: auto;

    @media #{$medium-up} { 
        margin-bottom: 5.25rem;
    }
}

.article-card__image {
    @include background-cover;
    border: 1px solid darken($jerseywhite, 5%);
    height: rem-calc(250);
    width: 100%;

    @media #{$medium-up} { 
        height: rem-calc(300);
    }

    @media #{$large-up} { 
        width: 58%;
        height: rem-calc(365);
    }
}

.article-card__image--pattern {
    background-image: url(../images/wlapattern_small-light.png);
    background-repeat: repeat;
    background-size: 25%;
}

.article-card__content {
    background: $white;
    border: 1px solid darken($jerseywhite, 5%);
    border-top: 0;
    padding: 1.5rem;
    right: 10px; //account for box shadow

    @media #{$large-up} { 
        border-top: 1px solid darken($jerseywhite, 5%);
        box-shadow: $wla-block-shadow;
        padding: 2rem;
        position: absolute;
        top: 45px;
        width: 50%;
        height: rem-calc(275);
        max-height: rem-calc(275);
        z-index: 2;
    }
}

.article-card__heading {
    @extend %heading--medium;
    font-size: 1.5rem;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
        color: $deepindigo;

        &:hover {
            color: $accent-color;
        }
    }
}

.article__timestamp {
    color: $palegray;
    text-transform: uppercase;
    font-size: .9rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.article__excerpt {
    overflow: hidden;
    position: relative;
    max-height: rem-calc(98);
    height: rem-calc(98);
    margin-bottom: 1.25rem;

    &:before {
        content: '';
        background-image: linear-gradient(to bottom,rgba(255,255,255,0) 75%, #fff 95%);
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: all;
        z-index: $z2;
    }

    p {
        margin-bottom: 0;
    }
}

// Different treatment for even cards
.article-card:nth-of-type(even) {

    @media #{$large-up} {
        .article-card__content {
            left: 0;
        }

        .article-card__image {
            width: 58%;
            float: right;
            right: 0;
        }
    }
}
