// Base Block Helper

.block {
    padding-top: 9rem;
    padding-bottom: 8rem;

    @media #{$medium-up} {
        padding-top: 10rem;
        padding-bottom: 9rem;
    }

    @media #{$large-up} {
        padding-top: 14rem;
        padding-bottom: 12rem;
    }
}


// Caret Block Helper

$triangle-base: 1.5rem;
$triangle-base-large: $triangle-base * 1.5;

.block--caret {
    background-color: $jerseywhite;
    padding-top: 8rem;
    padding-bottom:10rem;
    position: relative;

    &:before {
        content: '';
        border-left: $triangle-base-large solid transparent;
        border-right: $triangle-base-large solid transparent;
        border-top: $triangle-base-large solid $body-bg;
        left: calc(50% - #{$triangle-base-large}/2);
        position: absolute;
        top: 0;
    }
}

// remove caret and add a border on stacked block--carets
.block--caret + .block--caret {
    border-top: 1px solid shade($jerseywhite, 5%);
    margin-top: -4rem;
    &:before {
        content: none;
    }
}

// Diagonal Block Helper

.block--diagonal:nth-of-type(odd) {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
    margin-top: -3.75rem;

    @media #{$medium-up} {
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
        margin-top: -4.25rem;
    }
}

.block--diagonal:nth-of-type(even) {
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
    margin-top: -3.75rem;

    @media #{$medium-up} {
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
        margin-top: -4.25rem;
    }
}

.block--diagonal:last-child:nth-of-type(odd) {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);

    @media #{$medium-up} {
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
        margin-top: -4.25rem;
    }
}

.block--diagonal:last-child:nth-of-type(even) {
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);

    @media #{$medium-up} {
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
        margin-top: -4.25rem;
    }
}
