// Button Block

.buttonblock {
    .sqs-donate-button.sqs-editable-button,
    .sqs-block-button-element {
        @extend .button;
        border-width: 2px !important;
        background-color: transparent !important;
        margin-top: 1rem;
    }
}

.buttonblock--gold {
    .sqs-donate-button.sqs-editable-button,
    .sqs-block-button-element {
        border-color: $secondary-color;
        border-width: 2px !important;
        color: $secondary-color !important;
        margin-top: 1rem;

        &:hover {
            background-color: $secondary-color !important;
            color: $primary-color !important;
        }
    }
}

.buttonblock--teal {
    .sqs-donate-button.sqs-editable-button,
    .sqs-block-button-element {
        border-color: $accent-color;
        border-width: 2px !important;
        color: $accent-color !important;
        margin-top: 1rem;

        &:hover {
            background-color: $accent-color !important;
            color: $primary-color !important;
        }
    }
}
