// Content and Summary Block

.contentblock {
    margin-bottom: 4rem;
}

.summary__header {
    @extend %heading--subheader;
    color: $primary-color;
    margin-bottom: 1rem;
    
    @media #{$large-up} {
        margin-bottom: 1.5rem;
    }
}

.summary__header--accent {
    color: $accent-color;
}

.summary__content {
    p {
        @extend %type--medium;
    }
}