// Content and Summary Block

.contentblock {
    margin-bottom: 6rem;
    margin-top: 6rem;

    @media #{$medium-up} {
        margin-bottom: 7rem;
        margin-top: 7rem;
    }

    .homepage & {
        margin-bottom: 4rem;
        margin-top: 4rem;

        @media #{$medium-up} {
            margin-top: 2rem;
        }
    }
}

.contentblock__header {
    @extend %heading--large;
    margin-bottom: 2rem;
}

.summary__header {
    @extend %heading--subheader;
    color: $primary-color;
    margin-bottom: 1rem;
    
    @media #{$large-up} {
        margin-bottom: 1.5rem;
    }
}

.summary__header--accent {
    color: $accent-color;
}

.summary__content {
    p {
        @extend %type--large;
    }
}
