// Footer

.footer {
    background: shade($primary-color, 15%);
    color: $paleindigo;
    margin-top: -2px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;

    a {
        color: $paleindigo;
        @include transition(color);

        &:hover {
            color: $jerseywhite;
        }
    }
}

.footer__logo {
    // TOOD: Replace with SVG asset so we can style the fill
    opacity: .2;
}

.footer__contact-details {
    list-style-type: none;
    margin-left: 0;

    @media #{$medium-up} {
        li {
            display: inline-block;

            &:after {
                content: '|';
                margin-left: .5rem;
                margin-right: .5rem;
            }

            &:last-child:after {
                content: none;
            }
        }
    }
}

.social-links {
    a {
        margin: .5rem;
        text-transform: capitalize;
        font-weight: 700;

        svg {
            path {
                fill: $paleindigo;
                @include transition(fill);
            }

            &:hover {
                path { fill: $jerseywhite; }
            }
        }
    }
}

.footer__bar {
    background-color: darken($primary-color, 5%);
    padding: 1rem;

    .copyright {
        color: $paleindigo;
        opacity: .75;
        text-transform: uppercase;
        font-family: $montserrat;
        font-size: rem-calc(12);
        letter-spacing: 1px;
    }
}
