// Header Component
// Consists of logo, navigation and header button
// Lives within the header component

.header {
    min-height: rem-calc(250);
    position: relative;
    @include transition(min-height);

    @media #{$large-up} {
        min-height: rem-calc(300);
    }
}

.header--homepage {
    min-height: rem-calc(450);
    @include transition(min-height);

    @media #{$medium-up} {
        min-height: rem-calc(500);
    }

    @media #{$large-up} {
        min-height: rem-calc(650);
    }
}

.header__brand {
    display: inline-block;
    position: relative;
    z-index: $z10;
}

.logo {
    width: 150px;
    opacity: 1;
    @include transition(opacity, width);

    &:hover {
        opacity: .85;
    }

    @media #{$medium-up} {
        width: 175px;
    }

    // Show small logo on extra small screens
    @media only screen and (max-width: 250px) {
        .logotype { display: none; }       
    }

    &.is-small {
        @media #{$small-only} {
            .logotype { display: none; }
        }
    }
}

.header__button {
    background-color: rgba(100,100,100,.4);
    border-bottom-left-radius: $global-radius;
    border-bottom-right-radius: $global-radius;
    border-top: 0;
    color: #fff;
    display: block;
    font-size: 13px;
    margin-bottom: 0;
    padding: .65rem 1.5rem;
    position: relative;
    top: 0;
    z-index: $z2;
    @include transition(background-color);

    &:active,
    &:hover,
    &:focus {
        background-color: $gold;
        color: white;
    }
}
