// Text Highlights Component


// Block Styles

.highlightsblock {
    color: $primary-color;
    padding-top: 5rem;
    padding-bottom: 4rem;

    @media #{$large-up} {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .heading--medium {
        margin-bottom: 2rem;
    }
}

.highlightsblock--text {
    background: $secondary-color;
}

.highlightsblock--image {
    background: $accent-color;
}

.highlightsblock--gallery {
    &:not(:first-of-type){
        border-top: 1px solid #eee;
    }
}

.highlightsblock__summary {
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    position: relative;

    &:after {
        content: '';
        background: rgba(0,0,0,.1);
        width: 5rem;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: calc(50% - 2.5rem);
    }
 
    p {
        @extend %type--medium;
    }
}


// Flex styles for highlights

.highlights-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


// Styles for individual highlight
.highlight {
    margin: .5rem 2rem;
    max-width: 350px;

    @media #{$medium-up} {
        width: 265px;
    }

    @media #{$large-up} {
        margin: 1.5rem 1.25rem;
    }
}

.highlight__title {
    font-weight: $font-weight-bold;
    margin-bottom: .5rem;
    position: relative;

    @media #{$medium-up} {
        margin-bottom: 1rem;
    }

    .highlightsblock--text & {
        left: -6px;

        // Caret
        &:before {
            content: '';
            display: inline-block;
            position: relative;
            left: -.75rem;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 6px solid $deepindigo;
        }
    }
}

.highlight__image {
    @include image-rounded($accent-color);
    margin-bottom: 1rem;

    @media #{$medium-up} {
        margin-bottom: 2rem;
    }
}


// Gallery highlight styles

.highlightsblock--gallery {
    .highlight {
        margin: .5rem 1rem;

        @media #{$medium-up} {
            margin: .5rem 2rem;
        }
    }
}


// Gallery images in a highlight block

.gallery__image {
    @include background-cover;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: $global-radius;
    margin: auto;
    margin-bottom: 1rem;
    height: 6rem;
    width: 8rem;

    @media #{$medium-up} {
        height: 9rem;
        width: 14rem;
    }

    .gallery__image-link & {
        @include transition(opacity);
        opacity: 1;
    }
        
    .gallery__image-link &:hover {
        opacity: .75;
    }
}
