// Icons Block

.iconblock-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;

    @media #{$large-up} {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    & + & {
        border-top: 1px solid darken($jerseywhite, 5%);

        @media #{$large-up} {
            border-top: 0;
            border-left: 1px solid darken($jerseywhite, 5%);
        }
    }
}

.iconblock {
    margin: auto;
    display: flex;
    justify-content: center;
}

.iconblock__icon {
    > svg {
        height: 1.5rem;
    }
}

.iconblock__text {
    text-align: left;
    margin-left: 1rem;
}
