// Media Highlights Block

$triangle-base: 1.5rem;
$triangle-base-large: $triangle-base * 1.5;

.mediablock {
    background-color: $jerseywhite;
    padding-top: 8rem;
    padding-bottom:10rem;
    position: relative;

    &:before {
        content: '';
        border-left: $triangle-base-large solid transparent;
        border-right: $triangle-base-large solid transparent;
        border-top: $triangle-base-large solid $body-bg;
        left: calc(50% - #{$triangle-base-large}/2);
        position: absolute;
        top: 0;
    }

    .summary__header {
        margin-bottom: 4rem;
    }
}

.media-highlight {
    @media #{$medium-up} {
        display: flex;
    }
}

.media-highlight--alt {

    .media-highlight__image {
        order: 2;

        &:before {
            border-left: $triangle-base solid #fff;
            border-right: 0;
            left: 0;
        }
    }

    .media-highlight__content {
        order: 1;
    }
}

.media-highlight__image {
    @include background-cover;
    min-height: 12rem;
    padding: 3rem 2rem;
    position: relative;

    &:before {
        @media #{$medium-up} {
            content: '';
            border-bottom: $triangle-base solid transparent;
            border-right: $triangle-base solid #fff;
            border-top: $triangle-base solid transparent;
            position: absolute;
            right: 0;
            top: calc(50% - #{$triangle-base}/2);
        }
    }

    @media #{$medium-up} {
        flex: 2;
        min-height: 20rem;
        padding: 3rem;
    }

    @media #{$large-up} {
        flex: 2;
    }
}

.media-highlight__content {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 3rem 2rem;

    @media #{$medium-up} {
        flex: 3;
        padding: 3rem;
    }

    @media #{$large-up} {
        flex: 2;
    }
}

.media-callout {
    background-color: $primary-color;
    padding: 4rem 2rem;
    text-align: center;

    @media #{$medium-up} {
        flex: 2;
        padding: 5rem 3rem;
    }

    .type--callout {
        color: #fff;
        margin-bottom: 1rem;

        @media #{$medium-up} {
            margin-bottom: 1rem;
        }
    }
}
