.news-list {
    margin-top: 2.5rem;

    @media #{$medium-up} { 
        margin-top: 5rem;
    }
}

.news-list__news-article {
    position: relative;
    margin-bottom: 3.25rem;

    @media #{$medium-up} { 
        margin-bottom: 6.25rem;
    }
}

.news-list__article-image, .news-list__article-summary {
    background: $white;
}

.news-list__article-image {
    height: 250px;
    width: 100%;
    overflow: hidden;

    background-position: center center;
    background-size: cover;

    @media #{$medium-up} { 
        height: 300px;
    }

    @media #{$large-up} { 
        width: 65%;
        height: 410px;
    }
}

.news-list__article-summary {
    transform: translateY(-3px);
    padding: 1.5625rem;

    @media #{$large-up} { 
        width: 55%;
        max-width: 500px;
        position: absolute;
        right: 15px;
        padding: 2.1875rem;
        top: 40px;
        z-index: 2;
        // max-height: 320px;
        box-shadow: $wla-block-shadow;
    }
}

.article-summary__heading {
    margin-bottom: 0px;
}

.article-summary__timestamp {
    color: $palegray;
}