.news-list {
    padding-top: 2.5rem;
    background: $jerseywhite;

    @media #{$medium-up} { 
        padding-top: 5rem;
    }
}

.news-list__news-article {
    position: relative;
    margin-bottom: 3.25rem;

    @media #{$medium-up} { 
        margin-bottom: 6.25rem;
    }
}

.news-list__article-image, 
.news-list__article-summary {
    background: $white;
}

.news-list__article-image {
    background-position: center center;
    background-size: cover;
    height: 250px;
    overflow: hidden;
    width: 100%;

    @media #{$medium-up} { 
        height: 300px;
    }

    @media #{$large-up} { 
        width: 65%;
        height: 410px;
    }
}

.news-list__article-summary {
    transform: translateY(-3px);
    padding: 1.5625rem;

    @media #{$large-up} { 
        box-shadow: $wla-block-shadow;
        max-width: 500px;
        padding: 2.1875rem;
        position: absolute;
        right: 15px;
        top: 40px;
        width: 55%;
        z-index: 2;
    }
}

.article-summary__heading {
    margin-bottom: 0px;
    a {
        color: $deepindigo;

        &:hover {
            color: $deepindigo;
            text-decoration: underline;
        }
    }
}

.article-summary__timestamp {
    color: $palegray;
}
