// Quote Block

.quoteblock {
    background: $secondary-color;
    color: $primary-color;
    
    // Different padding for quote block with images
    &.quoteblock--hasimage {
        padding-top: 6rem;
        padding-bottom: 8rem;

        @media #{$medium-up} {
            padding-top: 7rem;
            padding-bottom: 9rem;
        }

        @media #{$large-up} {
            padding-top: 10rem;
            padding-bottom: 12rem;
        }
    }
}

.quoteblock__image {
    @include image-rounded($secondary-color);
    margin: auto auto 1.5rem;

    @media #{$medium-up} {
        margin: auto auto 2rem;
    }
}
