// Typography


// Headings

%heading--large,
.heading--large {
    font-family: $font-family-serif;
    font-size: 2rem;
    line-height: 1.13;

    @media #{$medium-up} {
        font-size: 2.875rem;
    }
}

%heading--medium,
.heading--medium {
    font-family: $font-family-sans-serif;
    font-size: 1.5rem;
    font-weight: $font-weight-medium;
    line-height: 1.25;

    @media #{$medium-up} {
        font-size: 2rem;
        line-height: 1.125;
    }
}

%heading--small,
.heading--small {
    font-family: $font-family-sans-serif;
    font-size: 1.375rem;
    font-weight: $font-weight-medium;
    line-height: 1.25;
}

%heading--subheader,
.heading--subheader {
    @extend %type--alt;
    line-height: 1.5;
}

// Body/paragraph type

%type--alt,
.type--alt {
    font-family: $font-family-sans-alt;
    font-size: .875rem;
    font-weight: $font-weight-bold;
    letter-spacing: 2px;
    line-height: 1.3;
    text-transform: uppercase;
}

%type--large,
.type--large {
    font-family: $font-family-sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
}

%type--medium,
.type--medium {
    font-family: $font-family-sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
}

%type--small,
.type--small {
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

%type--callout,
.type--callout {
    font-family: $font-family-serif;
    font-size: 1.15rem;
    line-height: 1.5;

    @media #{$medium-up} {
        font-size: 1.25rem;
        line-height: 1.5;
    }
}

%type--callout-large,
.type--callout-large {
    font-family: $font-family-serif;
    font-size: 1.25rem;
    line-height: 1.4;

    @media #{$medium-up} {
        font-size: 1.5rem;
        line-height: 1.5;
    }
    @media #{$large-up} {
        font-size: 1.75rem;
        line-height: 1.3125;
    }
}

// Text utilities

.text-underline {
    text-decoration: underline;
}

// Global link styles within <article> content

article {
    a {
        color: darken($accent-color, 10%);
        @include transition(color);

        &:hover {
            color: darken($accent-color, 20%);
        }
    }
}

// Accented link with arrow 
a.link-arrow {
    position: relative;
}

a.link-arrow--right {
    &:after {
        content: '\02192';
        position: absolute;
        margin-left: .25rem;
        transition: transform 100ms;
    }

    &:hover:after {
        transform: translateX(.25rem);
    }
}

a.link-arrow--left {
    &:before {
        content: '\02190';
        position: absolute;
        transform: translateX(-1rem);
        transition: transform 100ms;
        margin-top: .3rem;
    }

    &:hover:before {
        transform: translateX(-1.25rem);
    }
}