// Header

.header {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $deepindigo;
    padding: .5rem;
    padding-top: 1.5rem;

    @media #{$large-up} {
        padding: 0;
    }
}

.header__brand {
    display: inline-block;
    position: relative;
    z-index: $z10;
}

.logo {
    width: 150px;
    opacity: 1;
    @include transition(opacity, width);

    &:hover {
        opacity: .85;
    }

    @media #{$medium-up} {
        width: 175px;
    }

    // Show small logo on extra small screens
    @media only screen and (max-width: 250px) {
        .logotype { display: none; }       
    }

    &.is-small {
        @media #{$small-only} {
            .logotype { display: none; }
        }
    }
}

.button--header-cta {
    top: 0;
    font-size: 13px;
    background-color: rgba(0,0,0,.4);
    padding: .65rem 1.5rem;
    border-radius: 0 0 3px 3px;
    margin-bottom: 0;

    &:hover {
        background-color: $deepindigo;
    }
}
