// Header

.header {
    min-height: rem-calc(250);
    position: relative;
    @include transition(min-height);

    @media #{$large-up} {
        min-height: rem-calc(300);
    }
}

.header--homepage {
    min-height: rem-calc(450);
    @include transition(min-height);

    @media #{$medium-up} {
        min-height: rem-calc(500);
    }

    @media #{$large-up} {
        min-height: rem-calc(650);
    }
}

.header__brand {
    display: inline-block;
    position: relative;
    z-index: $z10;
}

.logo {
    width: 150px;
    opacity: 1;
    @include transition(opacity, width);

    &:hover {
        opacity: .85;
    }

    @media #{$medium-up} {
        width: 175px;
    }

    // Show small logo on extra small screens
    @media only screen and (max-width: 250px) {
        .logotype { display: none; }       
    }

    &.is-small {
        @media #{$small-only} {
            .logotype { display: none; }
        }
    }
}

.button--hero {
    background-color: rgba(100,100,100,.4);
    border-bottom-left-radius: $global-radius;
    border-bottom-right-radius: $global-radius;
    border-top: 0;
    color: #fff;
    display: block;
    font-size: 13px;
    margin-bottom: 0;
    padding: .65rem 1.5rem;
    position: relative;
    top: 0;
    z-index: $z2;
    @include transition(background-color);

    &:active,
    &:hover,
    &:focus {
        background-color: $gold;
        color: white;
    }
}

// Hero

.hero {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: $z1;
}

.hero--image {
    background-color: $deepindigo;
    filter: grayscale(100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero--overlay {
    background-color: rgba($deepindigo, .75);
    pointer-events: none;
}

.hero--pattern {
    background-image: url(/assets/images/wlapattern.jpg);
    background-position: center center;
}

.hero--homepageImage {
    filter: grayscale(0);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    @media #{$medium-up} {
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    }

    @media #{$large-up} {
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
}

// Hero Content

.hero__title,
.hero__cta {
    color: #fff;
    position: relative;
    z-index: $z2;
}

.hero__title {
    margin-top: 2rem;

    @media #{$medium-up} {
        margin-top: 2.75rem;
    }

    @media #{$large-up} {
        margin-top: 4rem;
    }
}

.hero__cta {
    margin-top: 3.5rem;

    .heading--large {
        color: #fff;
    }

    .button {
        font-size: .75rem;
    }
}
