// Navigation wrapper
.navigation-wrapper {
    margin-top: 1.5rem;
    z-index: $z3;

    @media #{$medium-up} {
        margin: 0.5rem;
        margin-top: 2rem;
    }

    @media #{$large-up} {
        margin: 0;
    }
}

.navigation {
    margin-top: 1rem;

    > ul {
        float: right;
        margin: 0;
    }
}

// Navigation items
.navigation__item {
    @extend %heading--subheader;
    display: inline-block;
    margin-bottom: 1rem;
    margin-right: .5rem;
    margin-right: 1rem;
    position: relative;
    z-index: $z3;
    
    &:last-child {
        margin-right: 0;
    }

    &.navigation__dropdown-wrapper {
        margin-bottom: 0;
    }
}

// Navigation items within nav dropdown
.navigation__item--dropdown {
    display: block;
    margin-bottom: 0;
    margin-right: 0;
    white-space: nowrap;
}

// Navigation link
.navigation__link {
    display: inline-block;
    position: relative;

    // nav links in dropdown items
    .navigation__item--dropdown & {
        padding-bottom: .5rem;
        padding-top: .5rem;
        width: 100%;
        @include transition(color, margin-left);

        &:hover {
            margin-left: rem-calc(5);
            
            .navigation__text {
                color: lighten($deepindigo, 30%);
            }
        }
    }
}

// Add hover and current states for links
.navigation__text {
    color: #fff;
    position: relative;
    display: block;

    .navigation__item--dropdown & {
        color: $deepindigo;
    }

    &:after {
        content: '';
        background: rgba(255,255,255,.75);
        height: 2px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 100%;
        transform: translateY(8px);
        width: 100%;
        @include transition(opacity, transform);
        
        .navigation__item:hover &,
        .navigation__item.is-current & {
            opacity: 1;
            transform: translateY(2px);
        }

        // remove for links in dropdown
        .navigation__item--dropdown & {
            content: none;
        }
    }
}

.navigation__link--parent {
    padding: 1rem;
    margin-left: -1rem; // compensate for the offset from padding
    margin-top: -1rem; // compensate for the offset from padding
    position: relative;
    z-index: $z3;

    &:before {
        background: #fff;
        content: '';
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transform: translateY(8px);
        width: 100%;
        z-index: -1;
        @include transition(opacity, transform);
    }

    &.is-active:before {
        opacity: 1;
        transform: translateY(0);
    }

    // remove default hover effect for parent dropdown link
    &.is-active {
        .icon-caret { fill: $deepindigo; }
        .navigation__text { color: $deepindigo; }
        .navigation__text:after { content: none; }
    }

    .icon-caret {
        margin-left: .5rem;
    }
}

// Dropdown
.navigation__dropdown-menu {
    margin-left: -1rem;
    padding: 1rem;
    position: absolute;
    background: #fff;
    min-width: rem-calc(225);
    z-index: $z3;
    opacity: 0;
    transform: translateY(8px);
    pointer-events: none;
    @include transition(opacity, transform);

    &.is-active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }
}

.navigation--small {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    background: $gold;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: $z9;
    @include transition(opacity);

    &.is-active {
        opacity: 1;
        pointer-events: all;
    }

    > ul {
        margin: 0;
        padding-top: 10rem;
        padding-bottom: 3rem;
        text-align: center;
        overflow: scroll;
        height: 100%;
    }

    .navigation__item {
        display: block;
        margin-bottom: 2rem;
        font-size: 1rem;
    }

    .button--header-cta {
        background-color: rgba(255,255,255, .2);
        font-size: 15px;
        border-radius: $global-radius;

        &:hover {
            background-color: rgba(255,255,255, .3);
        }
    }
}

// Menu icon

.nav-icon {
    cursor: pointer;
    z-index: $z10;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
}

.nav-icon__bar {
    background-color: #fff;
    display: block;
    height: 2px;
    margin-bottom: 4px;
    position: relative;
    width: 20px;
    @include transition(all);

    .nav-icon.is-active & {

        &:nth-child(1) {
            transform: translateY(6px) rotate(45deg);
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(3) {
            transform: translateY(-6px) rotate(-45deg);
        }
    }
}

body.is-unscrollable {
    height: 100%;
    overflow: hidden;
}
