// Typography


// Headings

%heading--jumbo,
.heading--jumbo {
    font-family: $font-family-serif;
    font-size: 2.625rem;
    line-height: 1.14;

    @media #{$medium-up} {
        font-size: 3.5rem;
        line-height: 1.07;
    }

    @media #{$large-up} {
        font-size: 4rem;
        line-height: 1.1;
    }
}

%heading--large,
.heading--large {
    font-family: $font-family-serif;
    font-size: 2rem;
    line-height: 1.13;

    @media #{$medium-up} {
        font-size: 2.875rem;
    }
}

%heading--medium,
.heading--medium {
    font-family: $font-family-sans-serif;
    font-size: 1.5rem;
    font-weight: $font-weight-medium;
    line-height: 1.25;

    @media #{$medium-up} {
        font-size: 2rem;
        line-height: 1.125;
    }
}

%heading--small,
.heading--small {
    font-family: $font-family-sans-serif;
    font-size: 1.375rem;
    font-weight: $font-weight-medium;
    line-height: 1.25;
}

%heading--subheader,
.heading--subheader {
    font-family: $montserrat;
    font-size: .875rem;
    font-weight: $font-weight-bold;
    letter-spacing: 2px;
    line-height: 1.3;
    text-transform: uppercase;
}

// Body/paragraph type

%type--large,
.type--large {
    font-family: $font-family-sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
}

%type--medium,
.type--medium {
    font-family: $font-family-sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
}

%type--small,
.type--small {
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

%type--quote,
.type--quote {
    font-family: $font-family-serif;
    font-size: 1.25rem;
    line-height: 1.5;

    @media #{$medium-up} {
        font-size: 1.75rem;
    }
}

// Text utilities

.text-underline {
    text-decoration: underline;
}
